*{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    font-family:  sans-serif;
    

}
body{
    background:url(https://i.pinimg.com/originals/41/82/a9/4182a9dd330c6442c4a1fbc78274d838.png);
    background-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: rgb(84, 82, 82);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    
}

.logo-cont a {
    display: inline-block;
    width: 100px;
    height: 10vh;
    margin-left: 40px;
   
}

.logo-cont .logo{
    width: 100%;
    height: 10vh;
}

nav {
    text-transform: uppercase;
    margin-right: 10px;
}

.nav-links li{
    display: inline-block;
    padding: 20px 10px;
    justify-content: space-between;
    margin: 40px;
    letter-spacing: 2px;
}

