*{
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
    font-family:  Monospace ;
    font-size: 20px;
    

}
body{
    background:url(https://png.pngtree.com/thumb_back/fw800/background/20201209/pngtree-gold-foil-willow-leaves-natural-background-image_506921.jpg);
    background-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: rgb(178, 238, 172);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    
}

.logo-cont a {
    display: inline-block;
    width: 100px;
    height: 10vh;
    margin-left: 40px;
   
}

.logo-cont .logo{
    width: 100%;
    height: 10vh;
}

nav {
    text-transform: uppercase;
    margin-right: 10px;
}

.nav-links li{
    display: inline-block;
    padding: 20px 10px;
    justify-content: space-between;
    margin: 40px;
    letter-spacing: 2px;
}

