*{
    text-decoration: none;
    list-style: none;
    color: rgb(250, 240, 240);
    font-family:  Lucida  ;
    font-size: 20px;
    

}
body{
    background: url(https://us.123rf.com/450wm/hakkiarslan/hakkiarslan1606/hakkiarslan160600318/59434703-abstract-soft-flower-background-design.jpg?ver=6);
    background-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: rgb(208, 132, 214);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    
}

.logo-cont a {
    display: inline-block;
    width: 100px;
    height: 10vh;
    margin-left: 40px;
   
}

.logo-cont .logo{
    width: 100%;
    height: 10vh;
}

nav {
    text-transform: uppercase;
    margin-right: 10px;
}

.nav-links li{
    display: inline-block;
    padding: 20px 10px;
    justify-content: space-between;
    margin: 40px;
    letter-spacing: 2px;
}

